<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CTARepository.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <CTARepository.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </CTARepository.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="Mod_File_Location" value=""/>
    <add key="PAK_Location" value=""/>
    <add key="PAK_Target_Location" value=""/>
    <add key="Sleep_Time" value=""/>
    <add key="Automaticaly_Transfer_Files" value="true"/>
    <add key="Conan_Server_Location" value=""/>
    <add key="SteamCmd_Location" value=""/>
    <add key="Validate_Conan" value="false"/>
    <add key="Batch_Location" value=""/>
  </appSettings>
</configuration>